<!-- Use Bootstrap, CSS in seperate files
	Link Registration, and login, and change password sites to this one 
	page -->
<html>
	<head>
		<!-- Scripts here -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js"></script>
	</head>
	<body ng-app="signinApp" ng-controller="signinController">
		<!-- set up the form here through divs
			-->
		
		<script>

		</script>
	</body>
</html>