<!--A Fresh Start Registration -->
<html>
<title>A Fresh Start Registration</title>
	<head>
	   	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	</head>
	<body>
		<div ng-app="regApp" ng-controller="regController">
			<form name="regForm" novalidate>
			<table border="0">
				<th colspan="2" align="center">A Fresh Start Registration</th>
				<tr><td>Username</td><td><input name="username" type="text" ng-model="username" ng-minlength="8" ng-maxlength="16" required>
					<span style="color:red" ng-show="regForm.username.$dirty && regForm.username.$invalid">
						<span ng-show="regForm.username.$error.required">Username is required!</span>
						<span ng-show="regForm.username.$error.minlength">Username is too short!</span>
						<span ng-show="regForm.username.$error.maxlength">Username is too long!</span>
					</span>
				</td></tr>
				<tr><td>Password</td><td><input type="password" ng-model="password" name="password" minlength="8" maxlength="16" required/>
					<span style="color:red" ng-show="regForm.password.$dirty && regForm.password.$invalid">
						<span ng-show="regForm.password.$error.required">Password is required!</span>
						<span ng-show="regForm.password.$error.minlength">Password is too short!</span>
						<span ng-show="regForm.password.$error.maxlength">Password is too long!</span>
					</span>
					</td></tr>
				<tr><td>Name</td><td><input type="text" ng-model="name" name="name" ng-minlength="3" ng-maxlength="32" required /> 
						<span style="color:red" ng-show="regForm.name.$dirty && regForm.name.$invalid">
							<span ng-show="regForm.name.$error.required">Name is required!</span>
							<span ng-show="regForm.name.$error.minlength">Name is too short!</span>
							<span ng-show="regForm.name.$error.maxlength">Name is too long!</span>
						</span>
				</td></tr>
				<tr><td>Address</td><td><input type="text" ng-model="address" name="address" required/>
					<span style="color:red" ng-show="regForm.address.$dirty && regForm.address.$invalid">
						<!--Regex Expression to match an address here -->

						</span>
				</td></tr>
				<tr><td>City</td><td><input type="text" ng-model="city" name="city" required/>
					<span style="color:red" ng-show="regForm.city.$dirty && regForm.city.$invalid">
						<!--Regex Expression to match the city here -->

					</span>
				</td></tr>
				<tr><td>State</td><td><input type="text" ng-model="state" name="state" required/>
					<span style="color:red" ng-show="regForm.state.$dirty && regForm.state.$invalid">
						<!-- Regex expression to match the state here -->

					</span>
				</td></tr>
				<tr><td>Zip Code</td><td><input type="text" ng-model="zipCode" name="zipCode" required/>
					<span style="color:red" ng-show="regForm.zipCode.$dirty && regForm.zipCode.$invalid" >
						<!-- Regex Expression to match zip code -->
					</span>
				</td></tr>
				<tr><td>Phone Number</td><td><input type="text" ng-model="phoneNumber" name="phoneNumber" required />
					<span style="color:red" ng-show="regForm.phoneNumber.$dirty && regForm.phoneNumber.$invalid">
						<!-- Regex Expression to match a phone number -->
					</span>
				</td></tr>
				<tr><td>Email </td><td><input type="email" ng-model="userEmail" name="email" required/>
					<span style="color:red" ng-show="regForm.email.$dirty && regForm.email.$invalid">
						<!-- Regex Expression to match email! -->
					</span>
				</td></tr>
				<tr><th>Type</th></tr>
				<tr><td>Shelter </td><td><input type="radio" name="org" ng-value="1" /></td></tr>
				<tr><td>Organization </td><td><input type="radio" name="org" ng-value="2" /></td></tr>
				<tr><td>Person </td><td><input type="radio" name="org" ng-value="3" /></td></tr>
				<tr><td><button ng-disabled="regForm.username.$dirty && regForm.username.$invalid ||
						regForm.password.$dirty && regForm.password.$invalid ||
						regForm.name.$dirty && regForm.name.$invalid ||
						regForm.address.$dirty && regForm.address.$invalid ||
						regForm.city.$dirty && regForm.city.$invalid ||
						regForm.state.$dirty && regForm.state.$invalid ||
						regForm.zipCode.$dirty && regForm.zipCode.$invalid ||
						regForm.phoneNumber.$dirty && regForm.phoneNumber.$invalid ||
						regForm.email.$dirty && regForm.email.$invalid">Register</button>
					</td></tr>
			</table>
		</form>
		</div>
		<script>
		var registerApp = angular.module("regApp", []);

		registerApp.controller('regController', function($scope) {
			$scope.reset = function() {
				$scope.username = "";
				$scope.password = "";
			}
			$scope.reset();
		});  
		</script>
	</body>
</html>
