<html>
<title>A Fresh Start Sign-in</title>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<style>
		#underlineText {
			position: absolute;
			text-decoration: underline;
			color: red;
			left: 50%;
			top: 50%;
		}
		</style>
		<script>
		$(document).ready(function() {
			$('#underlineText').click(function() {
				window.location = "registration.html";
			});
		});
		</script>
		<body>
			<div id="underlineText">Sign in</div>
		</body>
	</head>
</html>
