<html>
<title>Login</title>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.4.2.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
	</head>
	<body ng-app="logApp" ng-controller="loginController">
		<form name="loginForm" novalidate>
			<table border="0">
				<tr><td>Username</td><td><input type="text" ng-model="username" required></td></tr>
				<tr><td>Password</td><td><input type="password" ng-model="password" required></td></tr>
				<tr><td><button type="submit" ng-model="submit" ng-click="login()">Submit</button></td></tr>
			</table>
		</form>
		<script>
			Parse.initialize("pJnEJkICIETGpnDO0HkGamSYTTjd5b2ZYa6iePuQ", "Ac5ozu7vWZG5prjLiegH5zZ9IPn20aM7kSVb8cWH");
		</script>
		<script>
			var loginApp = angular.module("logApp", []);

			loginApp.controller("loginController", function($scope){
				$scope.login = function() {
					var _User = Parse.Object.extend("Users");

					var query = new Parse.Query(_User);
					var _user = new _User();
 
					query.equalTo("username", $scope.username);
					query.equalTo("password", $scope.password);

					//find using query.find
					query.find({
						success: function(results) {
							if(results.length === 1) {
								//go to shelter page
								alert("Going to profile page");
							}
							else
								alert("Incorrect user combination");
						},
						error: function(results, error) {
							alert("Error: " + error.code + error.message);
						}
					});

					//if the query finds someone
					//send to the shelter page
					//else send error to the user
				}
			});
		</script>
	</body>
	</html>
