* {
  box-sizing: border-box;
}
/* App Colors */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
nav {
  margin: 0;
  padding: 0;
  height: 50px;
  display: block;
  background: #9870cc;
  border-bottom: 3px solid #2a1f38;
}
nav ul {
  margin: 0;
  padding: 0 2%;
  height: 50px;
}
nav ul li {
  display: inline-block;
  height: 50px;
  margin: 0;
  padding: 1% 2%;
}
nav ul li.active {
  border-bottom: 3px solid #be8cff;
  background: #be8cff;
}
nav ul li a {
  display: block;
  color: #fff;
  height: 100%;
  text-decoration: none;
}
.panel {
  height: calc(50%);
}
.panel header {
  background: #be8cff;
  margin: 0;
  padding: 1% 2%;
  color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45);
}
.panel header h1 {
  margin: 0;
  padding: 0;
}
