<div class="shelter profile">
  <div class="profile-avatar-outer">
    <div class="profile-avatar-inner">
      <img class="profile-avatar" src="{{vm.shelter.avatarImg.url()}}" alt="">
    </div>
  </div>
  <h1 class="title"> {{vm.shelter.name}} </h1>
  <p class="description"> {{vm.shelter.description}} </p>
  <p class="phone"> {{vm.shelter.phone}} </p>
  <div class="address">
    <p>{{vm.shelter.address.line1}}</p>
    <p>{{vm.shelter.address.line2}}</p>
    <p>{{vm.shelter.address.city}}, {{vm.shelter.address.state}} {{vm.shelter.address.zipcode}}</p>
  </div>
  <button class="follow"> Follow </button>
  <div class="current-campaign-banner">
    <div ui-view="campaign"></div>
  </div>
  <div class="partners"></div>
  <div class="announcements feed">
    <div ui-view="announcements"></div>
  </div>
</div>
