<html>
	<head>
		<meta charset="utf-8">

		<!-- CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="afs.css">
		<!-- JS -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
		<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.4.2.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
    	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js"></script>
		<script src="afs.js"></script>
		<script>
			Parse.initialize("pJnEJkICIETGpnDO0HkGamSYTTjd5b2ZYa6iePuQ", "Ac5ozu7vWZG5prjLiegH5zZ9IPn20aM7kSVb8cWH");			
		</script>
	</head>
	<body ng-app="afsLS">

		<div>
			<div ui-view></div>
		</div>
	</body>
</html>