@import "variables";

nav {
  margin:0;
  padding:0;
  height:@nav_height;
  display: block;
  background: @brand;
  border-bottom: 3px solid @darker_brand;
  ul {
    margin:0;
    padding:0 2%;
    height:50px;
    li {
      display:inline-block;
      height:@nav_height;
      margin:0;
      padding:1% 2%;
      &.active {
        border-bottom:3px solid @lighter_brand;
        background: @lighter_brand;
      }
      a {
        display:block;
        color:#fff;
        height:100%;
        text-decoration: none;
      }
    }
  }
}
